.receitas{
    display: flex;
    overflow-y: auto;  
}
img{
    max-width: 100%;
}
.card{
    margin:5px;
    padding: 5px;

}
.card-titulo{
    text-align: center;
    font-size: large;
    margin-bottom: 10px;
}
.card-deck{
    display: flex;    

}